<link rel="stylesheet" href="/assets/css/trips.css">
{{> nav }}
{{> login-modal }}
{{> new-stream-modal }}
<div class="all-trips-container container">
	
	<div class="row">
		{{#if stream }}
		{{#each stream}}
		<div class="trip-container col-xs-12 col-sm-6 col-lg-6">
			<div class="trip-subcontainer trip-default">
				<h3 class="lead">
					Stream Name: {{ this.name }}
				</h3>
				<p>Stream Id: {{this.id}}</p>
				<div class="bottom-trip-container">
					<div class="risk-analysis-container">
							{{!-- {{ riskAnalysis }} --}}
						<p>
							{{this.isValid}}
						</p>
					</div>
					<div class="destination-container">
							{{!-- {{ riskAnalysis }} --}}
						<p class="destination">
							{{ this.url }}
						</p>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
		{{/if}}
	<button id="add-trip-button" data-toggle="modal" data-target="#squarespaceModal" type="button" class="btn btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
	</div>
</div>